@import "../assets/main.scss";

// Layout & Alignments
.grid-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: scroll;
  padding-left: 2pt;
}

// Card customization
.card {
  margin-top: 25px;
  margin-right: 12.5px;
  width: 287pt;
  margin-bottom: 25px;
  border-radius: 15pt !important;
  box-shadow: -2pt 2pt 0 $green !important;

  &-image {
    max-height: 177pt !important;
  }

  &-content {
    padding: 12px 12px 13px 12px !important;
  }

  img {
    border-top-left-radius: 15pt !important;
    border-top-right-radius: 15pt !important;
  }
}

// Gradient overlay
.slider-content::after {
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 167pt;
  right: 0;
  width: 27pt;
  height: 27%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 1%,
    rgba(255, 255, 255, 1) 50%
  );
}
