@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~bulma";

#app {
  font-family: "Open Sans", Quicksand, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

// Brand colors
$brand: #16828f;
$green: #d9e15f;
$grey: #525252;
$pink: #a11a79;

// Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: $grey;
$grey-light: $grey;
$primary: $brand;
$link: $brand;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma's component variables
$body-background-color: #ffff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Headings
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24pt;
  line-height: 30pt;
  color: $brand;
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 16pt;
  line-height: 22pt;
  color: $grey;
  text-align: left;
}

h3 {
  font-weight: 700;
  font-size: 16pt;
  line-height: 22pt;
  color: $brand;
  text-align: left;
}

a {
  font-weight: 400;
  font-size: 16pt;
  line-height: 22pt;
  color: $brand;
  text-align: right;
}

.weight {
  font-weight: 600;
  font-size: 16pt;
  line-height: 22pt;
  color: $pink;
  text-align: left;

  &-label {
    font-weight: 400;
    font-size: 12pt;
  }
}

.grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 400px);
}

img {
  margin-left: auto;
  margin-right: 5vw;
  background-color: #fff;
  width: 400px;
  text-align: center;
  height: auto;
  border-radius: 8px;
}

body {
  //background: whitesmoke;
}
