@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~bulma";

#app {
  font-family: "Open Sans", Quicksand, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fafafa;
}

// Brand colors
$brand: #16828f;
$green: #d9e15f;
$grey: #525252;
$pink: #a11a79;

// Global variables
$family-sans-serif: "Open Sans", sans-serif;
$primary: $brand;
$link: $brand;
$radius-rounded: 15pt;

// Headings & Text
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24pt;
  line-height: 30pt;
  color: $brand;
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 16pt;
  line-height: 22pt;
  color: $grey;
  text-align: left;
}

h3 {
  font-weight: 700;
  font-size: 16pt;
  line-height: 22pt;
  color: $brand;
  text-align: left;
}

a {
  font-weight: 400;
  font-size: 16pt;
  line-height: 22pt;
  color: $brand;
  text-align: right;
  &:hover {
    color: $brand;
  }
}

.weight {
  font-weight: 600;
  font-size: 16pt;
  line-height: 22pt;
  color: $pink;
  text-align: left;

  &-label {
    font-weight: 400;
    font-size: 12pt;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}

.container {
  //for mobile view switch to 375pt width
  //max-width: 375pt !important;
  //max-width: 700pt !important;
  min-height: 690pt !important;
  border: #dedede 1px solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 136px 19px 0 19px;
}
